<?xml version='1.0' encoding='utf-8'?>
<manifest
  xmlns:android='http://schemas.android.com/apk/res/android'
  package='${package}'
  android:versionCode='1'
  android:versionName='@string/version_name'
  >
  <application
    android:label='@string/app_name'
    android:theme='@style/app'
    >
    <activity
      android:label='@string/app_name'
      android:name='${activityClass}'
      />
  </application>
  <uses-sdk
    android:minSdkVersion='${minSdk}'
    android:targetSdkVersion='${targetSdk}'
    />
</manifest>
